<template name='adminHome'>

	<div class="container admin">
		<h1 class="panel-heading" style="color: white">Active Voting</h1><hr>
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="mdi-action-stars"></i>PEMIRA's Title</div>
		      <div class="collapsible-body" style="background-color: white">
		      	<ul class="collection with-header">
		      		<li class="collection-header">Calon Ketua SEMA STIS</li>
		      		<ul class="collection">
		      			<li class="collection-item avatar">
		      				<img src="/img/Caka Sema - Alifaldo Daffa Darmawan - 137478.jpg" alt="" class="circle">
						    <span class="title">Title</span>
						    <p>First Line <br>
						         Second Line
						    </p>
						    <a href="#!" class="secondary-content"><i class="mdi-action-done"></i></a>
		      			</li>
		      		</ul>
		      		<li class="collection-header">Calon Ketua Tingkat STIS</li>
		      	</ul>
		      </div>
		    </li>
		</ul>

		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a class="btn-floating btn-large red">
		      <i class="large mdi-content-add"></i>
		    </a>
		</div>
	</div>
</template>