<template name='adminHome'>

	<div class="container admin">
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="mdi-action-stars"></i>PEMIRA's Title</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		</ul>

		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a class="btn-floating btn-large red">
		      <i class="large mdi-content-add"></i>
		    </a>
		</div>
	</div>
</template>