<!--
This web is developed by STISAlfa's Member :
Name        : Thosan Girisona S
Github-ID   : blankon123
University  : Statistics Institute Of Indonesia
Year        : 2016
All Right Reserved
Copyright 2016 TGS
-->
<template name="header">
	<header>
		<link rel="icon" type="image/png" href="/img/favicon.png" />
		<title>PEMIRA STIS 2016-2017</title>
		{{#if cekTipeUser 'admin'}}
		<div class="navbar-fixed">
			<nav class="admin">
		        <div class="nav-wrapper teal lighten-2">
			        <a href="#" class="brand-logo">PEMIRA STIS 2016-2017</a>
			        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
			        {{#if resultPage}}
			        <ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#sema">SEMA</a></li>
					<li><a href="#tingkat1">Tingkat 1</a></li>
					<li><a href="#tingkat2">Tingkat 2</a></li>
					<li><a href="#tingkat3">Tingkat 3</a></li>
					<li><a href="#tingkat4">Tingkat 4</a></li>
				    </ul>
			        {{/if}}
		        </div>
		    </nav>
	        <ul id="slide-out" class="side-nav fixed">
			  	<div class="logo center">
    				<img class="responsive-img" src="/img/alfaevote.png" width="200px">
    			</div>
    			<div class="stisalfa container">
    				<hr>
    				<div id="project">Alfaevote</div> 
    				<span id="caption">Made with &hearts; by STISAlfa</span>
    				<hr>
    			</div>
			    <li style="text-align: center"><a href="#" class="data">Data</a></li>
			    <li style="text-align: center"><a href="#" class="result">Result</a></li>
			    <li style="text-align: center"><a href="#" class="logout" >Logout</a></li>
			</ul>
		</div>
		{{/if}}
	</header>
</template>