<!--
This web is developed by STISAlfa's Member :
Name        : Thosan Girisona S
Github-ID   : blankon123
University  : Statistics Institute Of Indonesia
Year        : 2016
All Right Reserved
Copyright 2016 TGS
-->
<template name="thanks">
    <div id="modalThanks" class="modal modal-fixed-footer">
        <div class="modal-content">
            
        </div>

        <div class="modal-footer">
            <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Tutup</a>
        </div>
    </div>
</template>