<!--
This web is developed by STISAlfa's Member :
Name        : Thosan Girisona S
Github-ID   : blankon123
University  : Statistics Institute Of Indonesia
Year        : 2016
All Right Reserved
Copyright 2016 TGS
-->
<template name="voting">
    {{#if Template.subscriptionsReady}}
        <div class="container center span12" id="container2">
                <form class="VoteForm">
                    <h3 class="panel-heading"> Calon Ketua SEMA STIS</h3>
                    <hr>

                    <div class="row">
                        {{#each calonSema}}
                        <label class="radio-inline">
                            <div class="{{#if isEven semaSize}} col s12 m4 offset-m1 kolom-dua{{else}}col s12 m4{{/if}}">
                            <input type="radio" id="sema"   name="sema" value="{{ kode }}">
                            <div class="card blue-grey hoverable darken-1">

                              <div class="foto-calon">
                                 <img src="{{image1}}" width="130">
                                 <img src="{{image2}}" width="130">
                              </div>
                              <div class="center white-text" style="font-size: 20px;font-style: bold;">{{ name }}</div>

                              <div class="card-action" onclick="$('#modal{{ kode }}').openModal();">
                                <a style="font-style: bold;">Visi Misi</a>
                              </div>

                              <div id="modal{{ kode }}" class="modal">
                                  <div class="modal-content" style="color: black">
                                    <ul class="collection with-header">
                                      <li class="collection-header"><h4>Visi</h4></li>
                                      {{ visi }} 
                                    </ul>
                                    <hr>
                                    <ul class="collection with-header">
                                      <li class="collection-header"><h4>Misi</h4></li>
                                      {{#each misi}}
                                        <li class="collection-item">{{ misi }}</li>
                                      {{/each}}
                                    </ul>
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Tutup</a>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </label>
                        {{/each}}
                    </div>

                    <div><h3 class="panel-heading" > Calon Ketua Tingkat STIS</h3><hr></div>
                    
                    <div class="row">
                        {{#each calonAngkatan}}
                        <label class="radio-inline">
                        <div class="{{#if isEven angkatanSize}} col s12 m4 offset-m1 kolom-dua{{else}}col s12 m4{{/if}}">
                          <input type="radio" id="ketuatingkat" name="ketuatingkat" value="{{ kode }}">
                          <div class="card blue-grey hoverable darken-1">
                            <div class="foto-calon">
                             <img src="{{ image }}" width="150">
                            </div>

                            <div class="center white-text" style="font-size: 20px;font-style: bold;">{{ name }}</div>

                            <div class="card-action" onclick="$('#modal{{ kode }}').openModal();">
                              <a style="font-style: bold;">Visi Misi</a>
                            </div>
                          </div>

                          <div id="modal{{ kode }}" class="modal">
                            <div class="modal-content" style="color: black">
                            <ul class="collection with-header">
                              <li class="collection-header"><h4>Visi</h4></li>
                              {{ visi }}
                            </ul>
                            <hr>
                            <ul class="collection with-header">
                              <li class="collection-header"><h4>Misi</h4></li>
                              {{#each misi}}
                                <li class="collection-item">{{ misi }}</li>
                              {{/each}}
                            </ul>
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Tutup</a>
                            </div>
                          </div>
                      </div>
                      </label>
                      {{/each}}
                    </div>

                    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                      <button type="submit" class="btn waves-effect waves-light btn-large disabled" style="font-size: 25px;">
                        Pilih</button>
                    </div>           
                </form>
        </div>

    {{else}}
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
    {{/if}}
</template>	