<template name="modal">
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h3>Demo E-Vote</h3>
            <ul>
                <li>
                Halaman ini hanya Demo dan tidak mempengaruhi hasil voting sebenarnya
                </li>
                <li>
                Halaman ini bertujuan untuk memperkenalkan e-vote pada pemilih
                </li>
                <li>
                    Voting sebenarnya tidak dilakukan di web ini, melainkan dilakukan secara <b style="color : red">OFFLINE</b> di Auditorium STIS
                </li>
                <hr>
                <h3>Password</h3>
                <li>
                Untuk Password Demo : 'demovote'
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Tutup</a>
        </div>
    </div>
</template>