<!--
This web is developed by STISAlfa's Member :
Name        : Thosan Girisona S
Github-ID   : blankon123
University  : Statistics Institute Of Indonesia
Year        : 2016
All Right Reserved
Copyright 2016 TGS
-->
<template name="voting">
    {{#if Template.subscriptionsReady}}
        <div class="span12" id="container2">
                <form role="form" method="post" action="validate.php">
                    <div><h1 class="panel-heading" > Calon Ketua SEMA STIS</h1><hr></div>

                    <label class="radio-inline">
                        <input type="radio" id="sema" name="sema" value="sema1">
                            <div class="kotakcalon sema1">
                                <div class="img">
                                    <img src="img/person_dummy.jpg" onclick="pilihsema(1)">
                                    <div class="overlay"></div>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">


                                    VisiMisi
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Visi</h3>
                                                <hr>
                                                <ol>
                                                    <li>
                                                        LOL
                                                    </li>
                                                    <li>
                                                        LOL2
                                                    </li><li>
                                                        LOL3
                                                    </li>
                                                </ol>
                                                <h3>Misi</h3>
                                                <hr>
                                                <ol>
                                                    <li>
                                                        LOL
                                                    </li>
                                                    <li>
                                                        LOL2
                                                    </li><li>
                                                        LOL3
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                    </label>

                    <div><h1 class="panel-heading" > Calon Ketua Tingkat STIS</h1><hr></div>
            
                    <label class="radio-inline">
                    <input type="radio" id="ketuatingkat" name="ketuatingkat" value="ketuatingkat1"><div class="kotakcalon tingkat1">
                        <img src="img/person_dummy.jpg" onclick="pilihtingkat(1)"><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            VisiMisi
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Visi</h3>
                                        <hr>
                                        <ol>
                                            <li>
                                                LOL
                                            </li>
                                            <li>
                                                LOL2
                                            </li><li>
                                                LOL3
                                            </li>
                                        </ol>
                                        <h3>Misi</h3>
                                        <hr>
                                        <ol>
                                            <li>
                                                LOL
                                            </li>
                                            <li>
                                                LOL2
                                            </li><li>
                                                LOL3
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    </label>

                    <div class="span12" id="container2">
                        <button type="submit" class="btn-success btn-lg" onclick="submit">SUBMIT</button>
                    </div>
                
                </form>
        </div>
    {{else}}
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
    {{/if}}
	{{> footer}}
</template>	