/* 
    Created on : Nov 5, 2014, 12:24:26 AM
    Author     : Thosan Girisona S
*/
body{
    background-image: url('/img/footer_lodyas.png');
}

.admin{
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    .admin {
        padding-left: 0;
    }
}

nav .brand-logo{
    padding-left: 30px;
}

#foter{
    color: white;
    opacity: 0.6;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

#setis-p{
    font-weight: 100;
}

#evote-p{
    font-style: bold;
    font-weight: 900;
}

#input-p{
    font-weight: 900;
    font-size: 30px;
}

#login-page{
    margin: 10% 30% 0%;
}

#container2{
    color : white;
    text-align: center;
    margin:0 auto;
}

#project{
    font-style: bold;
    font-size: 30px;
}

ul.side-nav.fixed li a{
    height: 40px;
    line-height: 40px;
}

ul.side-nav.fixed li.stisalfa{
    line-height: 35px;
}

.stisalfa{
    text-align: center;
    font-size: 15px;
}

.side-nav a{
    font-size: 20px;
    /*height: 40px;*/
}

.foto-calon{
    padding-top: 10px;
}

.kotakcalon{
    width: 300px;
}

.kolom-dua{
    margin-right: 80.563px;
}

.panel-heading{
    font-weight: 100;
}

.voting-card{
    margin: 10% 30% 0%;
}

.card-content{
    font-size: 20px;
}

.counter{
    font-size: 70px;
    font-style: bold;
}

label > div > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > div > input:checked + div { /* (RADIO CHECKED) IMAGE STYLES */
    background: url(../img/checked.png) green no-repeat;
    opacity: 1;
}

.result-card{
    min-height: 632px;
    max-height: 864px;
    position: relative;
    padding-bottom: 0px;
    padding-top: 9rem;
}

