/* 
    Created on : Nov 5, 2014, 12:24:26 AM
    Author     : Thosan Girisona S
*/
body{
    background-image: url('/img/footer_lodyas.png');
}

#foter{
    color: white;
    opacity: 0.6;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

#setis-p{
    font-weight: 100;
}

#evote-p{
    font-style: bold;
    font-weight: 900;
}

#input-p{
    font-weight: 900;
    font-size: 30px;
}

#login-page{
    margin: 10% 30% 0%;
}

.kotakcalon{
    color: #666666;
    background-color: #666666;
}

.kotakcalon img:hover{
    opacity: 0.8;
}

.kotakcalon img{
    width: 128px;
}

.kotakcalon button{
    margin-top: 3%;
}

#container2{
    color : white;
    text-align: center;
}

#container2 form{
    margin-top: 2%;
}
